.carousel {
  margin-bottom: 1rem;
}

.jumbotron {
 margin-left: 0px;
 margin-right: 0px;
}

.recipes-title h3 {
 padding-left: 15px;
}

.container {
  margin-top: 1rem;
}

.img-container {
  height: 300px;
}

.recipe-image {
  height: 100%;
  width: 100%;
}

.img-detail-container {
  height: 400px;
  width: 100%;
  margin-bottom: 1rem;
}

.img-container-sm {
  height: 100px;
  width: 100px;
}

.btn-recipe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #000;
  color: #fff;
  transition: opacity .35s ease;
}

a.btn-recipe:hover {
  text-decoration: none;
  color: #fff;
}

.img-container:hover .btn-recipe {
  opacity: .7;
  z-index: 1;
}

.img-gallery {
  margin: 10px 5px;
}
